/*CSS infoCuenta*/

#menu li {
    display:inline;
    padding-left:3px;
    padding-right:3px;
}
#menu {
    font-family:Arial;
    font-weight:bold;
    font-size:13px;
}


/*CSS tarjetas*/

#columnas {
    margin-left:85px ;
    font-family:Arial;
    font-weight:bold;
    font-size:12px;
}

#columnas {
    display: flex;
}

.columna {
    width: 130px;
}